
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #04c9d7;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #172a36;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #25364a;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    width: 100%;
    bottom: 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  border: 2px solid #af0000;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  transition: transform 0.3s, border 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border-color: #ff0000;
}

.carrossel {
    width: 300px;
    display: block;   
    margin: 0 auto;   
}

.Titulocarrossel {

    text-align: center;
    margin-top: 10px;
}

h5 {
  color: #25364a;

}
    .menu-lateral { 
      position: fixed;
      left:-2000px;
      top: 0;
      width: 200px;
      height: 100%;
      background-color: rgba(49, 127, 139, 0.307);
      backdrop-filter: blur(8px);
      padding-top: 60px;
      transition: 800ms;
      float: right;
    }
    
    .menu-lateral ul {
      list-style: none;
      padding: 10px;
    }

    .menu-lateral ul li {
      margin: 15px 0;
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
       font-style: italic;
    
    }

    .menu-lateral ul li a:hover{ 
      background: #575757;
      border-radius: 5px;

    }
    .menu-lateral ul li a{
      text-decoration: none;
        color: rgb(86, 210, 206);
     text-shadow: 2px 2px 10px #060b0e9e;
    }
    
    #check:checked ~ .menu-lateral {
      left: 0px;
    }

    #check {
      display: none;
    }

    .conteudo {
      padding: 20px;
      margin-left: 10px;

    }


            .produto-img {
            max-width: 350px;
            border-radius: 10px;
        }
        .preco {
            font-size: 28px;
            font-weight: bold;
            color: #28a745;
        }
        .card-prod {
            padding: 15px;
            border: 1px solid #eee;
            border-radius: 10px;
            transition: 0.2s;
        }
        .card-prod:hover {
            transform: scale(1.03);
            border-color: #28a745;
        }