body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 2px 10px #00000030;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opcao {
    background: #f0f0f0;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

.opcao input {
    transform: scale(1.3);
}

.total {
    margin-top: 25px;
    font-size: 1.1rem;
    background: #eaeaea;
    padding: 15px;
    border-radius: 8px;
}

.btn-finalizar {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border: none;
    background: #0077ff;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-finalizar:hover {
    background: #005fd1;
}
