
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #04c9d7;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #172a36;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #25364a;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    width: 100%;
    bottom: 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  border: 2px solid #af0000;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  transition: transform 0.3s, border 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border-color: #ff0000;
}