body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/*header só o basico */ 
.top-header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
}

.logo {
    height: 35px;
    margin-left: 20px;
}

/* cont do login */
.login-wrapper {
    max-width: 380px;
    margin: 60px auto;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #222;
}

.subtitle {
    color: #555;
    margin-bottom: 25px;
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

label {
    font-weight: bold;
    color: #444;
    margin-bottom: 6px;
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    font-size: 15px;
    background-color: #f0f0f0;
    outline: none;
}

input:focus {
    border-color: #0a6569;
    background-color: #ffffff;
}

/* btn logar */
.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #0a6569;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    background-color: #0a6569;
}

/* Esqueci minha senha */
.forgot-password {
    display: block;
    margin-top: 10px;
    color: #444;
    font-size: 14px;
    text-decoration: underline;
}

/* Linha divisória */
.divider {
    margin: 25px 0;
    text-align: center;
    color: #777;
    position: relative;
}

/* Cadastro */
.signup {
    margin-top: 25px;
    color: #444;
}

.signup a {
    color: #0a6569;
    font-weight: bold;
}